.footer {
  background: darken(#18b2ee, 30%);
  //   background: #2f4858;
  padding-top: var(--header-height);
  color: var(--white);
  margin-top: 2rem;

  &__flex {
    // color: var(--black-3);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .rights {
    text-align: center;
    padding-top: 2rem;
    font-weight: 700;
  }
  h3 {
    color: var(--white);
  }

  a {
    color: var(--white);
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    i {
      font-size: 2rem;
    }

    &:hover,
    &:focus {
      font-weight: bold;
      transform: scale(1.09);
    }
  }
}
