.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--white);
  //   margin-top: 2rem;
  //   padding: 1rem;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@include respond(tab-port) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0 0;
    background-color: var(--white);
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
  }
}
.nav__item {
  margin-bottom: 3rem;
}
.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--black-3);
  //   font-weight: var(--font-bold);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav__logo {
  margin: 2rem 0;
}

.nav__link {
  &:hover {
    color: var(--primary);
  }
}
.nav__toggle {
  font-size: 2rem;
}
.show-menu {
  top: calc(var(--header-height) + 1.6rem);
}
.active-link {
  position: relative;
  transition: all 0.3s ease-in-out;
  &::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 45%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--primary);
  }
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2rem;
  left: 0;
  top: 2.5rem;
  background: var(--redish);
}

.scroll-header {
  //   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: var(--box-shadow-2);
}

.scrolltop {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(26, 97, 179, 0.635);

  border-radius: var(--border-radius);
  color: var(--white);
  z-index: var(--z-fixed);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  box-shadow: var(--box-shadow);

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-2);
  }
  &__icon {
    font-size: var(--font-medium);
  }
}
.show-scroll {
  visibility: visible;
  bottom: 4rem;
}
