.l-main {
  overflow: hidden;
}

.container {
  max-width: 110rem;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
}

.section {
  padding-top: calc(var(--header-height) + 2rem);
  margin-top: 1rem;
}
.grid-set-2 {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  gap: 3rem;
  margin: 2rem;
  text-overflow: ellipsis;
}
.grid-set {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
