.services {
  // background-color: var(--primary);
  // background-color: lighten(#a5cc3b, 40%);
  background-color: lighten(#18b2ee, 40%);
  // padding-bottom: 3rem;
  > p {
    width: 40%;
  }
  .title {
    text-align: center;
  }
}
