// .section-title {
//   padding: 4rem 0 2rem;
// }

// .section-title {
//   font-size: var(--h2);
//   color: var(--primary);
// }

.text-center {
  text-align: center;
}

.text-medium {
  font-size: var(--font-medium);
  line-height: 2;
}

.title {
  font-size: var(--h2);
  margin-bottom: 1.5rem;
}
.sub-title {
  font-size: var(--h3);
}
