:root {
  // --primary: #a174db;
  --primary: #18b2ee;
  // --secondary: #49be55;
  --secondary: #a5cc3b;
  --secondary-dark: #94ae2f;

  --white: #fffdfd;
  --gray-1: #cccccc;
  --gray-2: #c2c2c2;
  --black-1: #666666;
  --black-2: #777777;
  --black-3: #222222;
  --text-color: #777777;

  --h1: 4.6rem;
  --h2: 3.6rem;
  --h3: 2.4rem;

  --font-small: 1.2rem;
  --font-medium: 1.6rem;
  --font-large: 2rem;
  --font-bold: 600;
  --font-family: "Poppins", sans-serif;

  --border-radius: 0.6rem;

  --z-fixed: 100;
  --header-height: 5rem;
  --box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0 10px 25px rgba(92, 99, 105, 0.2);
}
